page-registroprincipal {
	 .content-md {
    color: #000;
    background-color: #fff;
    background: url(http://estokealo.com:8000/static/registro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


	    .app-icon{
        font-size:50px;
        color: #000;
      
        text-align: center;
        min-height: 180px;
    }

}
