page-intro {


.cat{

      position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    right: 33px;
    color: #fff;
    margin-top: -96px;
    font-size: 35px;
}
}
